// font import
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
$color-primary: #34763B;
$color-primary-hover: #256d33;
$color-secondary: #F9DF4B;
$color-secondary-hover: #F1C944;
$color-tertiary: #AEB0B0;
$color-tertiary-hover: #F8F8F8;
$color-quarternary: #D7552C;
$color-quarternary-hover: #BF6966;
$color-dark: #000000;
$color-gray: #394149;
$color-dark-light: #312628;
$font-primary: "Gotham Narrow A", "Gotham Narrow B", "sans serif";
$font-secondary: 'Lora', serif;
